.sideMenu {
    width: 250px
}

.sideMenu > div >div:first-child {
    margin: 0px
}

.column {
    display: flex;
    flex-direction: column;
}

.rowRegion {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
