.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding-bottom: 12px;
}

.map {
    display: flex;
    justify-content: center;
}